<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
 <section>
    <div class="form-container">
        <h2>SignUp</h2>
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off" pattern="[a-zA-Z0-9]+" title="Username must contain only alphanumeric characters">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required pattern="[a-zA-Z0-9]+" title="Password must contain only alphanumeric characters">
          </div>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
  </section>
</body>
</html>
